body{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 60%, rgba(2,0,36,1) 100%) fixed no-repeat;
}
h1, h2{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.title{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 40000;
    font-display: swap;
}

.utitle{
    font-family: 'Saira Condensed', sans-serif;
}

.tool_img{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    border-radius: 10px;
    box-shadow: 0px 0px 21px 0px darkslateblue;
}

.tool_img:hover{
    animation-name: go_up;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes go_up{
    0%{
        margin-top: 90px;
    }
    100%{
        margin-top: 65px;
    }
}

.tool_btn{
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
}

.dl_btn {
        background-image: linear-gradient(to right, #4b6cb7 0%, #182848  51%, #4b6cb7  100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        text-decoration: none;
}

.dl_btn:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
}

.ghub{
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    text-decoration: none;
}

.ghub:hover{   
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

